body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 200px;
}
section {
  width: auto;
  height: 100vh;
  text-align: center;
}
h1#title {
  justify-content: center;
  text-align: center;
}
table {
  justify-content: center;
}
table#display {
  display: flex;
}
table#function {
  display: flex;
}
tr#function-title {
  border: 1px solid gray;
}
td {
  border: 1px solid gray;
  padding: 0 10px 0 10px;
}
#lampu-kiri\ on,
#lampu-kanan\ on {
  animation: relay 1.2s linear infinite;
  height: 50px;
}

#lampu-rem\ on {
  background-color: brown;
  height: 50px;
}
#lampu {
  height: 100px;
}
button.button {
  border: 0;
  background-color: transparent;
}
div#function {
  border: 1px solid gray;
  border-collapse: collapse;
  width: fit-content;
}
div#function-section {
  display: flex;
  justify-content: center;
}
div#function-title {
  margin: 6px;
}
tr#function {
  border-collapse: separate;
}
td#space {
  border: 0;
}
div#unit {
  display: -webkit-box;
}
div#space {
  content: "";
  margin: 25px;
}
td#f-kiri\ sein-kanan\ on,
td#f-kiri\ sein-kiri\ on,
td#f-kiri\ reset\ on,
td#f-kanan\ hazard\ on,
td#f-kanan\ rem\ on {
  background-color: gray;
}
@keyframes relay {
  50% {
    background-color: rgb(228, 176, 81);
  }
  100% {
    background-color: rgb(228, 176, 81);
  }
  49% {
    background-color: white;
  }
}
@media screen and (max-width: 767px) {
  div#unit {
    display: contents;
  }
}
a {
  color: black;
  text-decoration: none;
}
